.card{
    display: inline-block;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    text-align: center;

}

button{margin-top: 10px;
margin-right: 55%;
border-radius: 10px;
background-color: deepskyblue;
color: blue;
border-color: deepskyblue;
}

.but{
    background-color: black;
    color: white;
    border-color: white;
    margin-right: 80%;
}
*{
    background-color: bisque;
    color: white;
    text-align: center;
    margin-top: 3%;

}

p{
    color: black;
    background-color: white;

}
h1{
    margin-left: 320px;
    background-color: black;
    color: white;
    width: 60%;
}
button:hover{
    color: black;
    border-color: black;
}
.but:hover{
    color: brown;
    background-color: beige;
}